extends layouts/_layout.pug
include modal

block variables
	- var activePage = 'request-lahan'
	- var activeGroup = 'ui-request'

block title
	title Detail Request Lahan

block content
	.app-title
		div
			h1
				i.fa.fa-file-text-o
				|  Detail Request Asset

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Request Asset
			li.breadcrumb-item
				a(href='#') Request Lahan
			li.breadcrumb-item
				a(href='#') Detail Request Lahan

	.row
		.col-md-12
			.tile
				section.invoice
					.row
						#map
					.row.invoice-info.mt-3
						.col-12
							address 
								h4 #{_.startCase(_.toLower(data.lahan.NAMA))}
								| #{_.startCase(_.toLower(data.lahan.ALAMAT))}
								br
								if(data.lahan.STATUS ==='PENDING')
									h5
										span.badge.badge-info.mr-1 #{_.capitalize(data.lahan.STATUS)}
										span.badge.badge-dark #{(data.lahan.ID_GEDUNG)?'Edit':'Insert'} 
								else if(data.lahan.STATUS === 'DECLINE')
									h5
										span.badge.badge-danger.mr-1 #{_.capitalize(data.lahan.STATUS)}
										span.badge.badge-dark #{(data.lahan.ID_GEDUNG)?'Edit':'Insert'} 
								else if(data.lahan.STATUS === 'REVISI')
									h5
										span.badge.badge-warning.mr-1 #{_.capitalize(data.lahan.STATUS)}
										span.badge.badge-dark #{(data.lahan.ID_GEDUNG)?'Edit':'Insert'} 
								else if(data.lahan.STATUS === 'ACCEPT')
									h5
										span.badge.badge-success.mr-1 #{_.capitalize(data.lahan.STATUS)}
										span.badge.badge-dark #{(data.lahan.ID_GEDUNG)?'Edit':'Insert'} 

					.row.d-print-none.mt-2
						.col-12.text-right
							if(data.lahan.STATUS ==='PENDING')
								a.btn.btn-primary.mr-1(href='javascript:window.print();', data-toggle="modal" 
data-target="#acceptModal")
									|  Accept 
								a.btn.btn-danger.mr-1(href='javascript:window.print();',  data-toggle="modal" 
data-target="#declineModal")
									|  Decline
								a.btn.btn-warning(href='javascript:window.print();',  data-toggle="modal" 
data-target="#revisiModal")
									|  Revisi
							else if(data.lahan.STATUS === 'REVISI')
								a.btn.btn-primary.mr-1(href='javascript:window.print();', data-toggle="modal" 
data-target="#acceptModal")
									|  Accept 
								a.btn.btn-danger.mr-1(href='javascript:window.print();', data-toggle="modal" 
data-target="#declineModal")
									|  Decline
	.tile.mb-04
		h4 Gambar
		.row
			each img in data.images
				.col-lg-4
					.bs-component
						img.img-thumbnail(src=img.PATH, alt='Card image')
							
	.tile.mb-04
		h4 Gedung
		.row
			each gedung in data.gedung
				.col-lg-4
					.bs-component
						.card
							img(style='height: 200px; width: 100%; display: block;', src=gedung.PATH, alt='Card image')
							.card-body
								p.card-text
									| #{gedung.NAMA}
								p.card-text
									| #{gedung.ALAMAT}
								a.card-link(href=baseUrl+'/request-gedung/'+gedung.ID) Detail
	+modal({
		title:'Accept', 
		id:'acceptModal', 
		classBg:'primary',
		url:`/request-lahan/${data.lahan.ID_REQUEST}/accept`
	}) Anda yakin menerima request ini?
	+modal({
		title:'Decline', 
		id:'declineModal', 
		classBg:'danger',
		url:`/request-lahan/${data.lahan.ID_REQUEST}/decline`
	}) Anda yakin menolak request ini?
	+modal({ title:'Revisi', id:'revisiModal', classBg:'warning', url:`/request-lahan/${data.lahan.ID_REQUEST}/revisi`}) Berikan keterangan jika request ini harus direvisi.
		+textarea('notes')


block specific-js
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByqLPeK5YiHRXi3kFfhR_vRi_q8aj0VNE&callback=initMap")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.9/gmaps.min.js")
	script(type='text/javascript').

		var map = new GMaps({
			div: '#map',
			lat:  #{data.lahan.COOR_X},
			lng: #{data.lahan.COOR_Y}
		});

		GMaps.geocode({
		address: 'Indonesia',
		callback: function(results, status){
			var firstResult = results[0];
			map.setCenter(firstResult.geometry.location.lat(), firstResult.geometry.location.lng());
			map.setZoom(8);
		}
		}); 