extends layouts/_layout.pug
include modal

block variables
	- var activePage = 'request-gedung'
	- var activeGroup = 'ui-request'

block title
	title Detail Request Gedung

block content
	.app-title
		div
			h1
				i.fa.fa-file-text-o
				|  Detail Request Asset

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Request Asset
			li.breadcrumb-item
				a(href='#') Request Gedung
			li.breadcrumb-item
				a(href='#') Detail Request Gedung

	.row
		.col-md-12
			.tile
				- if (messages.success)
					.alert.alert-success.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') × 
						| #{messages.success}
				- if (messages.error)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true') × 
						| #{messages.error}
				section.invoice
					.row
						.col-12
							address
								h4 #{_.startCase(_.toLower(data.gedung.NAMA))} 
								| #{_.startCase(_.toLower(data.gedung.ALAMAT))}
								br
								if(data.gedung.STATUS ==='PENDING')
									h5
										span.badge.badge-info.mr-1 #{_.capitalize(data.gedung.STATUS)}
										span.badge.badge-dark #{(data.gedung.ID_GEDUNG)?'Edit':'Insert'}     
								else if(data.gedung.STATUS === 'DECLINE')
									h5
										span.badge.badge-danger.mr-1 #{_.capitalize(data.gedung.STATUS)}
										span.badge.badge-dark #{(data.gedung.ID_GEDUNG)?'Edit':'Insert'}
								else if(data.gedung.STATUS === 'REVISI')
									h5
										span.badge.badge-warning.mr-1 #{_.capitalize(data.gedung.STATUS)}
										span.badge.badge-dark #{(data.gedung.ID_GEDUNG)?'Edit':'Insert'}
								else if(data.gedung.STATUS === 'ACCEPT')
									h5
										span.badge.badge-success.mr-1 #{_.capitalize(data.gedung.STATUS)}
										span.badge.badge-dark #{(data.gedung.ID_GEDUNG)?'Edit':'Insert'} 
								
					.row.d-print-none.mt-2
						.col-12.text-right
							if(data.gedung.STATUS ==='PENDING')
								a.btn.btn-primary.mr-1(href='javascript:window.print();', data-toggle="modal" 
data-target="#acceptModal")
									|  Accept 
								a.btn.btn-danger.mr-1(href='javascript:window.print();',  data-toggle="modal" 
data-target="#declineModal")
									|  Decline
								a.btn.btn-warning(href='javascript:window.print();',  data-toggle="modal" 
data-target="#revisiModal")
									|  Revisi
							else if(data.gedung.STATUS === 'REVISI')
								a.btn.btn-primary.mr-1(href='javascript:window.print();', data-toggle="modal" 
data-target="#acceptModal")
									|  Accept 
								a.btn.btn-danger.mr-1(href='javascript:window.print();', data-toggle="modal" 
data-target="#declineModal")
									|  Decline
								
	.tile.mb-04
		h4 Gambar
		.row
			each img in data.images
				.col-lg-4
					.bs-component
						img.img-thumbnail(src=img.PATH, alt='Card image')

	+modal({
		title:'Accept', 
		id:'acceptModal', 
		classBg:'primary',
		url:`/request-gedung/${data.gedung.ID_REQUEST}/accept`
	}) Anda yakin menerima request ini?
	+modal({
		title:'Decline', 
		id:'declineModal', 
		classBg:'danger',
		url:`/request-gedung/${data.gedung.ID_REQUEST}/decline`
	}) Anda yakin menolak request ini?
	+modal({ title:'Revisi', id:'revisiModal', classBg:'warning', url:`/request-gedung/${data.gedung.ID_REQUEST}/revisi`}) Berikan keterangan jika request ini harus direvisi.
		+textarea('notes')