mixin modal({title,id, classBg, url})
    form(action =baseUrl+url, method ="POST")
        .modal.fade(id=id,tabindex="-1",role="dialog",aria-labelledby=id+"Label" aria-hidden="true")
                .modal-dialog
                    .modal-content
                        div(class='modal-header')
                            h4.modal-title(id=id+"Label")= title
                            button.close(type="button",data-dismiss="modal")
                                span(aria-hidden="true") &times;
                                span.sr-only Close
                        .modal-body
                            block
                        .modal-footer
                            button(class='btn btn-'+classBg,type="submit") #{title}
                            button(class='btn btn-default',type="button",data-dismiss="modal") Close


mixin textarea(nameInput)
    textarea(class='form-control',rows=5, name=nameInput, required='true')