extends layouts/_layout.pug

block variables
	- var activePage = 'request-lahan'
	- var activeGroup = 'ui-request'

block title
	title Request Lahan

block content
	.app-title
		div
			h1
				i.fa.fa-bars
				|  List Request Lahan

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Request Asset
			li.breadcrumb-item
				a(href="#") Request Lahan

	.row
		.col-md-12
			.tile
				.table-responsive.mailbox-messages
					table.table.table-hover
						thead
							tr
								td #
								td Nama
								td Alamat
								td Tipe
								td Status
								td Tanggal
								td Aksi
						tbody
							each lahan in data
								tr
									td
									td #{lahan.NAMA}
									td #{lahan.ALAMAT}
									td #{lahan.TYPE}
									td #{lahan.STATUS}
									td #{moment(lahan.EPOCH).format('DD-MM-YYYY')}
									td 
										a.btn.btn-info.btn-sm(href=`${baseUrl}/request-lahan/${lahan.ID}`) Detail
				.text-right
					if(paginator.limit > paginator.total_count)
						span.text-muted.mr-2 Menampilkan semua data
					else 
						span.text-muted.mr-2 Menampilkan 1-#{paginator.limit} dari #{paginator.total_count}
						
						.btn-group
							a.btn.btn-primary.btn-sm(href=paginator.prev_page.replace("http://10.60.164.5:3000", baseUrl))
								i.fa.fa-chevron-left
							a.btn.btn-primary.btn-sm(href=paginator.next_page.replace("http://10.60.164.5:3000", baseUrl))
								i.fa.fa-chevron-right