extends layouts/_layout.pug

block variables
	- var activePage = 'request-lahan'
	- var activeGroup = 'ui-request'

block title
	title Request Lahan

block content
	.app-title
		div
			h1
				i.fa.fa-bars
				|  List Request Lahan

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Request Asset
			li.breadcrumb-item
				a(href="#") Request Lahan

	.row
		.col-md-12
			.tile
				.table-responsive.mailbox-messages
					table.table.table-hover
						thead
							tr
								td #
								td Nama
								td Alamat
								td Tipe
								td Status
								td Tanggal
								td Aksi
						tbody
							each lahan in data
								tr
									td
									td #{lahan.NAMA}
									td #{lahan.ALAMAT}
									td #{lahan.TYPE}
									td #{lahan.STATUS}
									td #{moment(lahan.EPOCH).format('DD-MM-YYYY')}
									td 
										a.btn.btn-info.btn-sm(href=`request-lahan/${lahan.ID}`) Detail
				.text-right
					if(paginator.limit > paginator.total_count)
						span.text-muted.mr-2 Menampilkan semua data
					else 
						span.text-muted.mr-2 Menampilkan 1-#{paginator.limit} dari #{paginator.total_count}
						
						.btn-group
							button.btn.btn-primary.btn-sm(type='button')
								i.fa.fa-chevron-left
							button.btn.btn-primary.btn-sm(type='button')
								i.fa.fa-chevron-right
//- "paginator": {
//-         "total_count": 3,
//-         "total_pages": 1,
//-         "first_page": "http://localhost:3000/api/request-lahan?page=1&per_page=10",
//-         "prev_page": "",
//-         "next_page": "",
//-         "last_page": "http://localhost:3000/api/request-lahan?page=1&per_page=10",
//-         "limit": 10
//-     }