extends layouts/_layout.pug

block variables
	- var activePage = 'request-gedung'
	- var activeGroup = 'ui-request'

block title
	title Request Gedung

block content
	.app-title
		div
			h1
				i.fa.fa-bars
				|  List Request Gedung

		ul.app-breadcrumb.breadcrumb
			li.breadcrumb-item
				i.fa.fa-home.fa-lg
			li.breadcrumb-item
				| Request Asset
			li.breadcrumb-item
				a(href="#") Request Gedung

	.row
		.col-md-12
			.tile
				.table-responsive.mailbox-messages
					table.table.table-hover
						thead
							tr
								td #
								td Nama
								td Alamat
								td Tipe
								td Status
								td Tanggal
								td Aksi
						tbody
							each lahan in data
								tr
									td
									td #{lahan.NAMA}
									td #{lahan.ALAMAT}
									td #{lahan.TYPE}
									td #{lahan.STATUS}
									td #{moment(lahan.EPOCH).format('DD-MM-YYYY')}
									td 
										a.btn.btn-info.btn-sm(href=`${baseUrl}/request-gedung/${lahan.ID}`) Detail
				.text-right
					if(paginator.limit > paginator.total_count)
						span.text-muted.mr-2 Menampilkan semua data
					else 
						span.text-muted.mr-2 Menampilkan 1-#{paginator.limit} dari #{paginator.total_count}
						
						.btn-group
							button.btn.btn-primary.btn-sm(type='button')
								i.fa.fa-chevron-left
							button.btn.btn-primary.btn-sm(type='button')
								i.fa.fa-chevron-right
