// Essential javascripts for application to work
script(src=baseUrl+'/js/jquery-3.2.1.min.js')
script(src=baseUrl+'/js/popper.min.js')
script(src=baseUrl+'/js/bootstrap.min.js')
script(src=baseUrl+'/js/main.js')

// The javascript plugin to display page loading on top
script(src=baseUrl+'/js/plugins/pace.min.js')